<!DOCTYPE html>
<html ng-app="boxmodelApp">
    <head>
        <title>Box Model Learnings</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    </head>
    <body ng-controller="BoxmodelCtrl">
        <div class="logo-bar">
            <h1>
                <i class="fa fa-rocket"></i>
                Box Model Playground
            </h1>
        </div>

        <aside class="sidebar">
            <!-- Element -->
            <div class="container-fluid">
                <div class="btn-bar clearfix">
                    <button class="btn btn-success btn-sm pull-right" ng-click="setDefault()">Reset</button>
                </div>
                <div class="form-horizontal">
                    <div class="highlight-block element-highlight setting-title">Element Settings</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Width</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.elementWidth"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Height</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.elementHeight">
                        </div>
                    </div>
                </div>

                <!-- Padding -->
                <div class="form-horizontal">
                    <div class="highlight-block padding-highlight setting-title">Padding Settings</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Top</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.paddingTop"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Right</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.paddingRight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bottom</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.paddingBottom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Left</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.paddingLeft">
                        </div>
                    </div>
                </div>

                <!-- Border -->
                <div class="form-horizontal">
                    <div class="highlight-block border-highlight setting-title">Border Settings</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Top</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.borderTop"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Right</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.borderRight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bottom</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.borderBottom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Left</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.borderLeft">
                        </div>
                    </div>
                </div>

                <!-- Margin -->
                <div class="form-horizontal">
                    <div class="highlight-block margin-highlight setting-title">Margin Settings</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Top</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.marginTop"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Right</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.marginRight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bottom</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.marginBottom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Left</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" ng-model="prop.marginLeft">
                        </div>
                    </div>
                </div>
        </aside>

        <div class="main-container">
            <div class="main-body">
                <div class="bm-container">
                    <div class="bm-margin"
                        ng-style="
                                {'padding-top' : prop.marginTop + 'px',
                                'padding-right' : prop.marginRight + 'px',
                                'padding-bottom' : prop.marginBottom + 'px',
                                'padding-left' : prop.marginLeft + 'px'}">
                        <div class="bm-border"
                            ng-style="
                                    {'padding-top' : prop.borderTop + 'px',
                                    'padding-right' : prop.borderRight + 'px',
                                    'padding-bottom' : prop.borderBottom + 'px',
                                    'padding-left' : prop.borderLeft + 'px'}">
                            <div class="bm-padding"
                                ng-style="
                                {'padding-top' : prop.paddingTop + 'px',
                                'padding-right' : prop.paddingRight + 'px',
                                'padding-bottom' : prop.paddingBottom + 'px',
                                'padding-left' : prop.paddingLeft + 'px'}">

                                <div class="bm-element"
                                    ng-style="
                                        {'width' : prop.elementWidth + 'px',
                                        'height' : prop.elementHeight + 'px'}">
                                    Element:
                                    {{ prop.elementWidth ? prop.elementWidth + 'px' : "400px"}}
                                    x
                                    {{ prop.elementHeight ? prop.elementHeight + 'px' : "200px"}}
                                    <br>
                                    Padding:
                                    Top: {{ prop.paddingTop ? prop.paddingTop + 'px' : "20px"}},
                                    Right: {{ prop.paddingRight ? prop.paddingRight + 'px' : "20px"}},
                                    Bottom: {{ prop.paddingBottom ? prop.paddingBottom + 'px' : "20px"}},
                                    Left: {{ prop.paddingLeft ? prop.paddingLeft + 'px' : "20px"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pop-up" ng-click="toggleState(popUp)">
            <span class="fa fa-search" ></span>
        </div>
        <div class="bm-info" ng-class="{'slide-out' : popUp.state}">
            <div class="bm-info-header">
                <h3>More Info</h3>
            </div>
            <div class="bm-info-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-model="boxSizingModel" btn-radio="true" ng-class="{'btn-success' : boxSizingModel}">Box Sizing On</button>
                    <button type="button" class="btn btn-default btn-sm" ng-model="boxSizingModel" btn-radio="false" ng-class="{'btn-success' : !boxSizingModel}">Box Sizing Off</button>
                </div>
                <div class="bm-list" ng-if="boxSizingModel">
                    <ul>
                        <li>List of box sizing true</li>
                        <li></li>
                    </ul>
                </div>
                <div class="bm-list" ng-if="!boxSizingModel">
                    <ul>
                        <li>Entire(?) Element Size</li>
                        <ul>
                            <li>Outter width: </li>
                            <li>Outter height: </li>
                        </ul>
                        <li>
                                    Element:
                                    {{ prop.elementWidth ? prop.elementWidth + 'px' : "400px"}}
                                    x
                                    {{ prop.elementHeight ? prop.elementHeight + 'px' : "200px"}}
                                    <br>
                                    Padding:
                                    Top: {{ prop.paddingTop ? prop.paddingTop + 'px' : "20px"}},
                                    Right: {{ prop.paddingRight ? prop.paddingRight + 'px' : "20px"}},
                                    Bottom: {{ prop.paddingBottom ? prop.paddingBottom + 'px' : "20px"}},
                                    Left: {{ prop.paddingLeft ? prop.paddingLeft + 'px' : "20px"}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script type="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>