<!DOCTYPE html>
<html ng-app="boxmodelApp">
    <head>
        <title>Box Model Learnings</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    </head>
    <body ng-controller="BoxmodelCtrl">
        <aside class="sidebar">
            <div class="logo-bar">
                <h1>
                    <i class="fa fa-rocket"></i>
                    Box Model Playground
                </h1>
            </div>
            <div>
                <div>Element Settings</div>
                <div>
                    <label>Width</label>
                    <input ng-model="elementWidth"/>
                </div>
                <div>
                    <label>Height</label>
                    <input ng-model="elementHeight">
                </div>
            </div>

            <!-- Padding -->
            <div>
                <div>Padding Settings</div>
                <div>
                    <label>Top</label>
                    <input ng-model="paddingTop"/>
                </div>
                <div>
                    <label>Right</label>
                    <input ng-model="paddingRight">
                </div>
                <div>
                    <label>Bottom</label>
                    <input ng-model="paddingBottom">
                </div>
                <div>
                    <label>Left</label>
                    <input ng-model="paddingLeft">
                </div>
            </div>

            <!-- Border -->
            <div>
                <div>Border Settings</div>
                <div>
                    <label>Top</label>
                    <input ng-model="borderTop"/>
                </div>
                <div>
                    <label>Right</label>
                    <input ng-model="borderRight">
                </div>
                <div>
                    <label>Bottom</label>
                    <input ng-model="borderBottom">
                </div>
                <div>
                    <label>Left</label>
                    <input ng-model="borderLeft">
                </div>
            </div>

            <!-- Margin -->
            <div>
                <div>Margin Settings</div>
                <div>
                    <label>Top</label>
                    <input ng-model="marginTop"/>
                </div>
                <div>
                    <label>Right</label>
                    <input ng-model="marginRight">
                </div>
                <div>
                    <label>Bottom</label>
                    <input ng-model="marginBottom">
                </div>
                <div>
                    <label>Left</label>
                    <input ng-model="marginLeft">
                </div>
            </div>
        </aside>
        <div class="main-container">
            <div class="main-body">
                <div class="bm-container">
                    <div class="bm-margin">
                        <div class="bm-border">
                            <div class="bm-padding"
                                ng-style="
                                {'padding-top' : paddingTop + 'px',
                                'padding-right' : paddingRight + 'px',
                                'padding-bottom' : paddingBottom + 'px',
                                'padding-left' : paddingLeft + 'px'}">

                                <div class="bm-element"
                                    ng-style="
                                        {'width' : elementWidth + 'px',
                                        'height' : elementHeight + 'px'}">
                                    Element:
                                    {{ elementWidth ? elementWidth + 'px' : "400px"}}
                                    x
                                    {{elementHeight ? elementHeight + 'px' : "200px"}}
                                    <br>
                                    Padding:
                                    Top: {{ paddingTop ? paddingTop + 'px' : "20px"}},
                                    Right: {{ paddingRight ? paddingRight + 'px' : "20px"}},
                                    Bottom: {{ paddingBottom ? paddingBottom + 'px' : "20px"}},
                                    Left: {{ paddingLeft ? paddingLeft + 'px' : "20px"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script type="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>