/*General*/
html, body{
    font-size: 14px;
    height: 100%;
    width: 100%;
}

/*Sidebar Styles*/

.sidebar{
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 400px;
    background-color: #ccc;
    overflow: hidden;
}

.sidebar:hover{
    overflow: auto;
}

.sidebar .form-group{
    margin-bottom: 0;
}

.sidebar .form-horizontal{
    border-bottom: 1px solid #fff;
    padding: 15px 0;
}

.sidebar .btn-bar{
    margin-top: 15px;
}

.sidebar .setting-title{
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 10px;
}

.logo-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 75px;
    z-index: 10;
    background-color: #000;
}

.logo-bar h1{
    margin: 0;
    font-size: 2em;
    color: #fff;
    text-align: center;
    padding: 22px 0;
}

.logo-bar .fa{
    color: #F27935;
    margin-right: 5px;
}

.settings-container{
    overflow: hidden;
}

.settings-container:hover{
    overflow: auto;
}

.settings-block{
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.element-highlight{
    border-left: 25px solid #FFFFFF;
}

.padding-highlight{
    border-left: 25px solid #FFECD4;
}

.border-highlight{
    border-left: 25px solid #B8DEC7;
}

.margin-highlight{
    border-left: 25px solid #B3C6D4;
}

.highlight-block{
    padding-left: 15px;
}

/*Main body styles*/
.main-container{
    margin-left: 400px;
    height: 100%;
}

.main-body{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.bm-container{
    display: table-cell;
    vertical-align: middle;
}

.bm-element{
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: #FFFFFF;
}

.bm-padding,
.bm-border,
.bm-margin {
    display: inline-block;
    padding: 20px;
}

.bm-padding{
    background-color: #FFECD4;
}

.bm-border{
    background-color: #B8DEC7;
}

.bm-margin{
    background-color: #B3C6D4;
}



